@use '../abstracts' as *;

.explode {
  &_container {
    max-width: 100%;
    margin: 4rem 0 0;
    
    @media screen and (min-width: $tablet) {
      margin-top: 5rem;
    }
  }
  
  &_title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $white;
  }
  
  &_caption {
    text-align: center;
    color: $zinc-500;
    margin-top: 1rem;
    font-size: 0.875rem;
  }
}

// Feature Section

.features {
  &_header {
    text-align: center;
    margin-bottom: 3rem;
    
    h2 {
      margin-bottom: 1rem;
    }
    
    p {
      font-size: 1.125rem;
      line-height: 1.75;
      color: $zinc-400;
      max-width: 768px;
      margin: 0 auto;
    }
    
    @media screen and (min-width: $tablet) {
      margin-bottom: 4rem;
      
      p {
        font-size: 1.25rem;
      }
    }
  }
}

.feature-mobile-only {
  display: block;
  
  @include tablet {
    display: none;
  }
}
//Technology Section

.technology {
  padding-top: 6rem;
  padding-bottom: 6rem;
  
  @media screen and (min-width: $tablet) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  &_header {
    text-align: center;
    margin-bottom: 3rem;
    
    h2 {
      margin-bottom: 1rem;
    }
  }
  
  &_description {
    font-size: 1.125rem;
    line-height: 1.75;
    color: $zinc-400;
    max-width: 768px;
    margin: 1rem auto 0;
    
    @media screen and (min-width: $tablet) {
      font-size: 1.25rem;
    }
  }
}

