@use '../abstracts';

.footer {
    background-image: url(../images/background_footer.jpeg);
    padding: 2rem 0;
    text-align: center;
    width: 100%;
}

.fullscreen {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footer p {
    font-size: 0.875rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: abstracts.$tablet) {
    .foot {
        padding: 1rem * 1.5 0;
    }

    .foot p {
        font-size: 1rem;
    }
}