@use 'abstracts';

.head {
    background-image: url(../images/background.jpeg);
    box-shadow: abstracts.$shadow;
    padding: 1rem;
    z-index: 1000;

    @media screen and (min-width: abstracts.$tablet) {
        padding: 1rem 1.5rem;
    }

    @media screen and (min-width: abstracts.$desktop) {
        padding: 1rem 2rem;
    }
}

.logo {
    img {
        height: 36px;
        transition: abstracts.$transition;

        @media screen and (min-width: abstracts.$tablet) {
            height: 36px;
        }

        @media screen and (min-width: abstracts.$desktop) {
            height: 100px;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

.main-nav {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}


#hamburger {
    display: block;
    font-size: 32px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    
    // Hide on tablet and larger screens
    @media screen and (min-width: abstracts.$tablet) {
        display: none !important;
    }
}

// Close button for mobile overlay
#close {
    font-size: 32px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    
    // Hide on tablet and larger screens
    @media screen and (min-width: abstracts.$tablet) {
        display: none !important;
    }
}

// Overlay menu for mobile
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
    // When open on mobile
    &.open {
        display: flex;
        
        @media screen and (min-width: abstracts.$tablet) {
            display: block !important;
        }
    }
    
    // On tablet and desktop, show regular nav (no overlay)
    @media screen and (min-width: abstracts.$tablet) {
        display: block !important;
        position: static;
        background: transparent;
        width: auto;
        height: auto;
        z-index: auto;
    }
    
    nav ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        
        @media screen and (min-width: abstracts.$tablet) {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            align-items: center;
            justify-content: flex-end;
            text-align: left;
        }
        
        @media screen and (min-width: abstracts.$desktop) {
            gap: 2rem;
        }
    }
    
    ul li {
        margin: 20px 0;
        
        @media screen and (min-width: abstracts.$tablet) {
            margin: 0;
        }
    }
    
    a {
        color: white;
        font-size: 32px;
        text-decoration: none;
        font-weight: 500;
        transition: abstracts.$transition;
        
        @media screen and (min-width: abstracts.$tablet) {
            font-size: 0.95rem;
            position: relative;
            
            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background: abstracts.$primary-color;
                transition: abstracts.$transition;
            }
            
            &:hover::after {
                width: 100%;
            }
        }
        
        &:hover {
            color: abstracts.$primary-color;
            
            @media screen and (max-width: calc(abstracts.$tablet - 1px)) {
                color: #60c383;
            }
        }
    }
}