@use '../abstracts';

.head {
    background-image: url(../images/background.jpeg);
    box-shadow: abstracts.$shadow;
    padding: 1rem;
    z-index: 1000;

    @media screen and (min-width: abstracts.$tablet) {
        padding: 1rem 1.5rem;
    }

    @media screen and (min-width: abstracts.$desktop) {
        padding: 1rem 2rem;
    }
}

.logo {

    a {
        display: block;
        line-height: 0;
    }

    img {
        height: 36px;
        transition: abstracts.$transition;

        @media screen and (min-width: abstracts.$tablet) {
            height: 36px;
        }

        @media screen and (min-width: abstracts.$desktop) {
            height: 100px;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

.main-nav {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    nav {
        ul {
            display: block;
            background: #ffffff22;
            flex-direction: column;
            list-style: none;
            padding: 1rem;
            color: #fff;

            @media screen and (min-width: abstracts.$tablet) {
                display: flex;
                position: static;
                flex-direction: row;
                width: auto;
                padding: 0.85rem;
                gap: 1.5rem;
                align-items: center;
                justify-content: flex-end;
            }

            @media screen and (min-width: abstracts.$desktop) {
                gap: 2rem;
            }

            li {
                width: 100%;
                border-bottom: 1px solid #e5e7eb;

                &:last-child {
                    border-bottom: none;
                }

                @media screen and (min-width: abstracts.$tablet) {
                    width: auto;
                    border-bottom: none;
                }

                a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 0.95rem;
                    transition: abstracts.$transition;
                    position: relative;
                    padding: 0.75rem 0;
                    display: block;

                    @media screen and (min-width: abstracts.$tablet) {
                        padding: 0.5rem 0;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background: abstracts.$primary-color;
                        transition: abstracts.$transition;
                        display: none;

                        @media screen and (min-width: abstracts.$tablet) {
                            display: block;
                        }
                    }

                    &:hover {
                        color: abstracts.$primary-color;

                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

#hamburger, #close {
    font-size: 32px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    align-items: center;
  }
  
  .overlay.open {
    display: flex;
  }
  
  #close {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .overlay ul {
    list-style-type: none;
    text-align: center;
  }
  
  .overlay li {
    margin: 20px 0;
  }
  
  .overlay a {
    color: white;
    font-size: 32px;
    text-decoration: none;
  }
  
  .overlay a:hover {
    color: #60c383;
  }

  // #hamburger{
  //   display: none;
  // }
  
  // #menu{
  //   display: block;
  // }

  // #close{
  //   display: none;
  // }

  @media screen and (min-width: 768px){

    
  }

