// Import variables from the main variables partial
@forward 'earbuds';
@forward 'ar-model';
@forward 'hero';
@forward 'buttons';
@forward 'cards';
@forward 'model';
@forward 'xray';
@forward 'explode-view';
@forward 'header';
@forward 'footer';